.page {
  margin: auto;
  font-size: 1rem;
  min-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    width: 90%;
    margin: 20px 10px;
    height: 2.2rem;
  }

  .tab {
    width: 90%;
    margin: 10px auto;
    height: 60px;
  }

  .result {
    margin: 20px auto 10px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(100% - 2.2rem - 250px);

    p {
      padding: 0 20px;
    }
  }
}
