.result {
  box-sizing: border-box;

  p {
    padding: 0 10px 10px;
    height: fit-content;
    font-weight: 600;
  }

  .resultBtns {
    display: flex;
    justify-content: end;
    button {
      margin: 20px 0px;
    }
  }
}
