.DS_Store
node_modules
**/node_modules
.turbo
**/.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

# TypeScript build info file
**/tsconfig.tsbuildinfo
apps/operation/tsconfig.tsbuildinfo

!packages/common-ui/dist/

.gitmessage.txt
