@use '@postcoil/ui/styles/color' as C;

.tableContainer {
  margin: 20px auto 10px;
  font-size: 1.6rem;
  height: calc(100% - 2.2rem - 170px);
  width: 90%;

  // background-color: C.$white;
  // border-radius: 8px; // 모서리 둥글게
  // padding: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: C.$tableBorderColor;

  .antTable {
    width: 100%; // 테이블이 부모의 너비를 가득 채우도록
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: inherit; // 부모의 border-radius 상속

    ul {
      justify-content: center; // 페이징 버튼 가운데로 이동
    }
  }
}
