.boardContainer {
  margin: auto;
  font-size: 1rem;
  min-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    width: 90%;
    margin: 40px auto 30px;
    height: 2.2rem;
  }

  .result {
    margin: 20px auto 0px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: calc(100% - 4.2rem - 220px);
    overflow-y: scroll;

    .table {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin: 20px auto 40px;
    width: fit-content;
    height: fit-content;
  }
}
