.boardContainer {
    margin: 20px;
    padding: 30px;

    /* 테두리 */
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: whitesmoke;

}

.tab {
    padding: 10px;
}

.progress {
    padding: 10px;
    margin: 10px;
}


.table {
    // margin: 10px;
}

h3 {
    font-weight: bold;
    text-align: center;
}