@use '@/styles/color' as C;

.contentContainer {
  margin: 0 auto 20px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;

  .tableWrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;

    .table {
      width: 100%;

      .rowChanged {
        background-color: C.$tableRed !important; // changed: true 인 색상
      }

      .rowChanged:hover,
      .rowChanged:focus,
      .rowChanged:active {
        td {
          background-color: rgba(
            245,
            159,
            159,
            0.826
          ) !important; // hover 시 배경색
        }
      }
    }
  }
}
