.page {
  margin: auto;
  font-size: 1rem;
  min-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    width: 90%;
    margin: 40px auto 30px;
    height: 2.2rem;
  }

  .schtable {
    margin: 20px auto 10px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(40% - 1.1rem - 130px);
    overflow: scroll;
  }

  .tab {
    width: 90%;
    margin: 20px auto 0px;
    height: 60px;
  }

  .result {
    margin: 0px auto 40px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(60% - 1.1rem - 130px);
    position: relative;

    .charts {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: calc(100% + 30px);
      overflow: hidden;

      &:nth-child(1) {
        // highchart.com 가리기용
        &::after {
          content: '';
          display: block;
          height: 10px;
          width: 100%;
          background-color: white;
          position: relative;
          top: -30px;
          right: 0px;
        }
      }
    }
  }
}
