.modal {
  .anticon-check-circle {
    margin: 10px 0;
    width: 100%;
    justify-content: center;
  }

  .modal-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px auto 5px;

    .apply-btn {
      background-color: #4763e4;
      border-color: #4763e4;
      color: #ffffff;
    }
  }
}
