@use '@/styles/_color.scss' as C;

.filterContainer {
  font-size: 1.5rem;
  background-color: #eff4ff;
  width: 90%;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
