.dashboardContainer {
    padding: 20px;
}

.chartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

h3 {
    margin: 20px;
    font-weight: bold;
    text-align: center;
}