@use '@postcoil/ui/styles/color' as C;

.topbarContainer {
  font-size: 1.5rem;
  background-color: C.$skyBlue;
  width: 90%;
  height: 70px;
  padding: 0 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 2rem;

  .dropdown {
    margin-right: 30px;
  }
}
