.contentContainer {
  margin: 10px auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;

  .btn {
    width: fit-content;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .tableWrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;

    .table {
      width: 100%;
    }
  }
}

.changedBg {
  background-color: #e2e1fc !important;
}

.changedBg:hover,
.changedBg:focus,
.changedBg:active {
  td {
    background-color: rgba(156, 132, 254, 0.29) !important; // hover 시 배경색
  }
}
