@use '@postcoil/ui/styles/color' as C;

.navigation_style {
  min-width: 280px;
  width: 15%;
  height: 100vh;
  background-color: C.$skyBlue;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;
}

.logo {
  margin-top: 40px;
  width: 200px;
  height: 100px;
  object-fit: contain;
  padding-bottom: 20;
}

.login_div {
  width: 70%;
  margin: auto;
  border-radius: 30px;
  background-color: C.$white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}
.login_info {
  font-size: 14px;
  color: C.$systemBlue;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
