.contentContainer {
  margin: 20px auto;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: calc(100vw - 300px);
  height: calc(100vh - 250px);
  overflow-y: auto;

  p {
    padding: 0 10px;
  }
  .result {
    width: 60%;
  }
  .standards {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
  }
}
