.contentContainer {
  margin: 20px auto 10px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;

  .tableWrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;

    .table {
      width: max-content;
    }
  }
}
