@use '@/styles/color' as C;

.contentContainer {
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
<<<<<<< HEAD
  height: 80%;
=======
  height: 60%;
>>>>>>> 7ceac47 (Feat: 조업 작업지시 화면 생성)

  .tableWrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;

    .table {
      width: 100%;

      .rowChanged {
        background-color: C.$tableRed !important; // changed: true 인 색상
      }
    }
  }
}
